<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 w-96 h-96 mx-auto mt-52 rounded-lg p-24 text-white shadow-2xl">
        <h1 class=" text-4xl font-black mt-10">This is a template</h1>
        <p class="mt-4">Tailwind + express</p>
    </div>
</body>
</html>